<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KD Fresh</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>

<body>
<div class="navbar">
    <header>
        <ul class="hed">

            <li><a href="/" class="logo">KD Fresh</a>

            </li>
            <a href="/cart">
                <i class="fas fa-shopping-cart">
                    <span class="num-cart-product">{{request.session.cart.keys|length}}</span>
                </i>
            </a>
            <li>


            </li>
        </ul>


    </header>
    <nav>
        <ul class="menu">
            <li><a href="/">Store</a></li>

            {% if request.session.customer %}

            <li><a href="/orders">orders</a></li>

            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/signup">signup</a></li>
            <li><a href="/login">Login</a></li>

            {% endif %}
        </ul>
    </nav>
</div>

{% block content %} {% endblock %}

<script
        crossorigin="anonymous"
        src="https://kit.fontawesome.com/c8e4d183c2.js"
></script>
</body>
</html>
