{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="cart-heading">

    <a href="">My Cart</a>
</div>


<div class="my-cart">

    {% for product in products %}

    <div class="cart-product-card">


        <div class="product-img">
            <img src="{{product.image.url}}" alt="{{product.name}}">
        </div>


        <div class="product-details">


            <h4 class="product-name">{{product.name}}</h4>
            <div class="product-price">{{product.price | currency}}<small></small></div>

            <div class="product-quantity">Q-{{product | cart_quantity:request.session.cart}}</div>
            <div class="product-quantity">
                <form  method="post">
                    {% csrf_token %}
                    <input hidden type="text" name="product" value="{{product.id}}"/>
                    <input hidden type="text" name="remove" value="True"/>
                    <input type="submit" value=" − " class="quantity-button"/>
                </form>
                <div class="quantity-no">
                    <p>{{product|cart_quantity:request.session.cart}}</p>
                </div>
                <form  method="post">
                    {% csrf_token %}
                    <input hidden type="text" name="product" value="{{product.id}}"/>
                    <input type="submit" value=" + " class="quantity-button"/>
                </form>
            </div>


            <div class="total-price">
                <h4>Total = {{product | price_total:request.session.cart | currency}}</h4>
            </div>

        </div>


    </div>


    {% endfor %}


</div>

<div class="final-price">

    <div>
        <div class="delivery-charge"></div>
        {% if products|total_cart_price:request.session.cart < 199 %} <h4>Delivery Charge ₹ 20</h4>
        {% else %}
        <h4>Delivery Charge ₹ 0</h4>


        {% endif %}
    </div>

    <div class="total-price">
        <h4> Total {{ products|total_cart_price:request.session.cart | delivery_charge|currency }} </h4>
    </div>

</div>

</div>


<div class="checkout-details">


    <form action="/check-out" method="POST" class="order-form">
        {% csrf_token %}


        <input required type="text" name="address" id="" placeholder="Full Address  (Only Motihari)">

        <input required type="text" name="phone" id="" placeholder="Phone no">


        <input type="submit" id="button" value="place order">
    </form>


</div>


{% endblock %}