{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="order">
    <a href="">Order History</a>
</div>


<div class="my-orders">
    {% for order in orders %}
    <div class="order-card">


        {% if order.status %}
        <div class="badge-order">
            <p class="complete">complete</p>
        </div>



        {%else%}
        <div class="pending">
            <p>pending</p>
        </div>

        {% endif %}

        <div class="product-img">
            <img src="{{order.product.image.url}}" alt="{{order.product.name}}">
        </div>
        <div class="product-details">
            <p> Order No. {{forloop.revcounter}}</p>

            <span class="product-catagory"> {{order.date}}</span>
            <h4 class="product-name">{{order.product.name}}</h4>
            <div class="product-price">{{order.price | currency}}<small></small></div>

            <div class="product-quantity">Q-{{order.quantity}}</div>

            <p class="total">Total {{order.quantity|multiply:order.price| currency }}</p>










        </div>






    </div>
    {% endfor %}

</div>

{% endblock %}