{% extends 'base.html' %}

{% block content %}

<div class="login-page">

    <div class="form">


        <form action="/signup" method="post">

            {% csrf_token %}

            {% if error %}
            </h3> {{error}}</h3>
            {% endif %}

            <input type="text" name="firstname" id="firstname" placeholder="first name" required>

            <input type="text" name="lastname" id="lastname" placeholder="last name" required>

            <input type="text" name="phone" id="phone" placeholder="phone no" required>

            <input type="email" name="email" id="email" placeholder="example@gmail.com" placeholder="email" required>

            <input type="text" name="password" id="Password" placeholder="*******" placeholder="password" required>

            <input type="submit" id="button" value="Create an account">

            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>

    </div>
</div>





{% endblock %}